Package: avgui
Version: 0.14-1
Architecture: i386
Maintainer: Pantelis Karamolegkos <pkaramol@cti.gr>
Installed-Size: 4563
Depends: python3.2, python3-pyside, sqlite3
Section: graphics
Priority: extra
Homepage: www.cti.gr
Description: GUI to support the usage of avg free for linux
 Support automation of scanning and updates and also logging
