#!/usr/bin/make -f

SHELL := /bin/bash

# icon = $(CURDIR)/$(..)media/avg_logo.png
SRC = $(CURDIR)/$(..)src
# doc = $(CURDIR)/$(..)doc
MEDIA = $(CURDIR)/$(..)media
LAUNCHER = $(CURDIR)/$(..)avgui.desktop
avginstalled = $(shell dpkg -l | grep avg2013flx | wc -l)
DEST1 = $(CURDIR)/debian/avgui/usr/share/avgui
DEST2 = $(CURDIR)/debian/avgui/usr/share/applications

export DH_VERBOSE=1

build: build-stamp
build-stamp:
	
	dh_testdir
	
	
	# check if avg 2013 is installed
	
	# Add here commands to compile the package.
	#$(MAKE)
	
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	#-$(MAKE) clean
	#-$(MAKE) distclean

	dh_clean

install: build clean $(src) $(media) $(launcher) 
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	# Add here commands to install the package into debian/<packagename>.
	#$(MAKE) prefix=`pwd`/debian/`dh_listpackages`/usr install
	
	mkdir -m 755 -p $(DEST1)
	mkdir -m 755 -p $(DEST1)/src
	mkdir -m 755 -p $(DEST1)/media
	mkdir -m 755 -p $(DEST2)
	
	@( for f in ${shell find $(SRC) -maxdepth 1 -not -name "*sqlite*" -type f  }; \
	do \
		install -m 777 -t $(DEST1)/src "$$f"; \
	done )
	
	@( for f in ${shell find $(MEDIA) -maxdepth 1 -not -name "*sqlite*" -type f }; \
	do \
		install -m 777 -t $(DEST1)/media "$$f"; \
	done )
	
	echo ${LAUNCHER}
	install -m 777 -t $(DEST2) ${LAUNCHER}

	# install -m 777 -D $(src)/* $(DEST1)/src/ 
	# install -m 777 -D $(media)/* $(DEST1)/media/  
	

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installman
#	dh_installinfo
#	dh_undocumented
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
#	dh_perl
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
